@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #f8f3f0;
}

/*------周辺パーツ-----*/
.gbHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 8px 24px;
  z-index: 500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f8f3f0;
}
@media only screen and (max-width: 600px) {
  .gbHeader {
    padding: 8px 16px;
  }
}
.gbHeaderTitle {
  color: #814F2A;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  .gbHeaderTitle {
    font-size: 18px;
  }
}

.gbMain {
  margin-top: 50px;
  padding: 24px 24px 40px;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .gbMain {
    margin-top: 42px;
    padding: 24px 16px 80px;
  }
}

/*------カレンダー装飾-----*/
.fc-daygrid-day-top {
  justify-content: center;
}

.fc-daygrid-day-number {
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .fc-daygrid-day-number {
    font-size: 12px;
  }
}

/* 土曜日 */
.fc-day-sat .fc-daygrid-day-top,
.fc-day-sat .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-day-sat .fc-list-day-cushion {
  color: #2fc4ff;
}

/* 日曜日 */
.fc-day-sun .fc-daygrid-day-top,
.fc-day-sun .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-day-sun .fc-list-day-cushion {
  color: #ff5757;
}

.fc .fc-button-primary,
.fc .fc-button-primary:disabled {
  color: #814F2A;
  border-color: #C99D7E;
  background-color: #C99D7E;
  transition: all 0.3s ease-in-out;
}
.fc .fc-button-primary:hover,
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  color: #C99D7E;
  border-color: #814F2A;
  background-color: #814F2A;
}
.fc .fc-scroller-harness {
  overflow: visible;
}

@media only screen and (max-width: 600px) {
  .fc-toolbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding: 8px 16px;
    z-index: 500;
    background-color: #f8f3f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.fc .fc-toolbar-title {
  color: #814F2A;
}
@media only screen and (max-width: 600px) {
  .fc .fc-toolbar-title {
    font-size: 18px;
  }
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-theme-standard .fc-scrollgrid {
  border-color: #e8dad0;
}

.fc-theme-standard td, .fc-theme-standard th {
  border-color: #e8dad0;
}

@media only screen and (max-width: 600px) {
  .fc table {
    font-size: 14px;
  }
}

.my-events {
  margin-bottom: 2px;
  transition: all 0.2s ease-in-out;
}
.my-events-hover {
  position: absolute;
  background-color: #f8f3f0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(201, 157, 126);
  top: -43px;
  color: #814f2a;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 5px rgba(129, 79, 42, 0.5);
}
.my-events-hover.isHidden {
  opacity: 0;
  visibility: hidden;
}

.fc-day-fri .my-events-hover, .fc-day-sat .my-events-hover, .fc-day-sun .my-events-hover {
  left: auto;
  right: 0;
}

.loading {
  position: fixed;
  top: 42px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 42px);
  z-index: 300;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0.6);
}
.loading.isClose {
  opacity: 0;
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */